body {
    background-color: bisque;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: blue;
    color: white;
}

header .heading {
    color: white;
    font-size: 50px;
}
header .logo {
    color: white;
    font-size: 20px;
}

header nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    color: white;
}
#highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    background: burlywood;
}
#highlight .photo {
    border-radius:20%;
}

#highlight .text h1 {
    font-size: 25px;
    line-height: 1.4;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
#apropos {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #f0f0f0;
}

#apropos .photo {
    border-top-left-radius: 40%;
}
#projets {
    padding: 60px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.btn-small {
    display: inline-block;
    margin-top: 10px;
    background: green;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}
#competences {
    padding: 60px;
    text-align: center;
    background: whitesmoke;
}

.skill-box {
    margin: 20px auto;
    width: 60%;
}

.bar {
    background: rgb(34, 66, 34);
    height: 12px;
    border-radius: 8px;
}
.bar div {
    height: 12px;
    background: blue;
    border-radius: 8px;
}

#contact {
    padding: 60px;
    background: gray;
    color: white;
    text-align: center;
}

#contactForm {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#contactForm input,
#contactForm textarea {
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

#contactForm button {
    padding: 12px;
    background: blueviolet;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#error {
    color: red;
    margin-top: 10px;
}
.right{
     margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: none;
}
span {
    color: white;
}